<form #f="ngForm" (ngSubmit)="loginUser(f.value)">
    <!-- <div #ident="ngModelGroup" ngModelGroup="indentifiants" name="identifiants">
        <label for="login">Login</label>
        <input #log="ngModel" ngModel required email type="text" class="form-control" id="login" name="login">

        <label for="pwd">Mot de passe</label>
        <input ngModel type="text" class="form-control" id="pwd" name="password">
    </div>
    <div *ngIf="ident.invalid && ident.touched" class="alert alert-danger">Erreur de saisie
    </div> -->

    <!-- <input #t="ngModel" ngModel name="test" type="text" required minlength="4" pattern="nidhal" class="form-control">
    <div *ngIf="t.invalid && t.touched" class="alert alert-danger">
        <p *ngIf="t.errors['required']">Ce champ est required</p>
        <p *ngIf="t.errors['minlength']">Le nombre minimal de caractères est 4</p>
        <p *ngIf="t.errors['pattern']">Le pattern est Nidhal</p>
    </div> -->



    <label for="login">Login</label>
    <input #log="ngModel" ngModel required email type="text" class="form-control" id="login" name="email">
    <div *ngIf="log.invalid && log.touched" class="alert alert-danger">Ce champ est obligatoire et est une adresse mail
    </div>
    <label for="pwd">Mot de passe</label>
    <input ngModel type="text" class="form-control" id="pwd" name="password">

    <!-- <label for="job">Job :</label>
    <select [ngModel]="defaultJob" name="job" id="job" class="form-control">
        <option value=""></option>
        <option value="ooredoo">Ooredoo</option>
        <option value="tt">TT</option>
        <option value="LaPoste">La Poste</option>

    </select>
    <label for="">Commentaire</label>

    <input [(ngModel)]="commentaire" type="text" class="form-control" name="comment">
    {{commentaire}} -->
    <button [disabled]="f.invalid" class="btn btn-success">Submit</button>
</form>